---
- hosts: k3s_cluster
  become: true
  tasks:
  - name: Install iSCSI package
    ansible.builtin.apt:
      name: open-iscsi
      state: present
      update_cache: true

  - name: Enable and start iscsid
    ansible.builtin.systemd:
      name: iscsid
      enabled: true
      state: started

  - name: Install nfs-common
    ansible.builtin.apt:
      name: nfs-common
      state: present
      update_cache: true
